# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
test_results/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

refinery
!/cmd/refinery
test_redimem
!/cmd/test_redimem

dockerize*

# IDE configs
.idea/

.DS_Store

# redis dump file
*.rdb
