[Unit]
Description=Refinery Honeycomb Trace-Aware Sampling Proxy
After=network.target

[Service]
ExecStart=/usr/bin/refinery -c /etc/refinery/refinery.toml -r /etc/refinery/rules.toml
KillMode=process
Restart=on-failure
User=honeycomb
Group=honeycomb
LimitNOFILE=infinity

[Install]
Alias=refinery refinery.service
