[Unit]
Description=Refinery Honeycomb Trace-Aware Sampling Proxy
After=network.target

[Service]
ExecStart=/usr/bin/refinery
KillMode=process
Restart=on-failure
User=honeycomb
Group=honeycomb
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
