version: 2.1

orbs:
  aws-cli: circleci/aws-cli@3.2.0

commands:
  go-build:
    parameters:
      os:
        description: Target operating system
        type: enum
        enum: ["linux", "darwin"]
        default: "linux"
      arch:
        description: Target architecture
        type: enum
        enum: ["amd64", "arm64"]
        default: "amd64"
    steps:
      - run: |
          GOOS=<< parameters.os >> \
          GOARCH=<< parameters.arch >> \
          go build -ldflags "-X main.BuildID=${CIRCLE_TAG:-${CIRCLE_SHA1:0:7}}" \
          -o $GOPATH/bin/refinery-<< parameters.os >>-<< parameters.arch >> \
          ./cmd/refinery
      - run: |
          sha256sum $GOPATH/bin/refinery-<< parameters.os >>-<< parameters.arch >> \
          > $GOPATH/bin/refinery-<< parameters.os >>-<< parameters.arch >>.checksum
  go-build-convert:
    parameters:
      os:
        description: Target operating system
        type: enum
        enum: [ "linux", "darwin" ]
        default: "linux"
      arch:
        description: Target architecture
        type: enum
        enum: [ "amd64", "arm64" ]
        default: "amd64"
    steps:
      - run: |
          GOOS=<< parameters.os >> \
          GOARCH=<< parameters.arch >> \
          go build -ldflags "-X main.BuildID=${CIRCLE_TAG:-${CIRCLE_SHA1:0:7}}" \
          -o $GOPATH/bin/convert-<< parameters.os >>-<< parameters.arch >> \
          ./tools/convert
      - run: |
          sha256sum $GOPATH/bin/convert-<< parameters.os >>-<< parameters.arch >> \
          > $GOPATH/bin/convert-<< parameters.os >>-<< parameters.arch >>.checksum
  setup_googleko:
    steps:
      - restore_cache:
          keys:
            - v1-googleko
      # we're pinning to ko 11.2 because it v0.12 can't push to ecr
      - run: go install github.com/google/ko@v0.11.2
      - save_cache:
          key: v1-googleko
          paths:
            - /home/circleci/go/pkg/mod/

jobs:
  test:
    docker:
      - image: cimg/go:1.19
      - image: redis:6
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dockerize-{{ checksum "Makefile" }}
            - v1-dockerize-
      - run: make verify-licenses
      - run: make dockerize
      - save_cache:
          key: v1-dockerize-{{ checksum "Makefile" }}
          paths:
            - dockerize.tar.gz
      - restore_cache:
          keys:
            - v3-go-mod-{{ checksum "go.sum" }}
      - run: make test
      - save_cache:
          key: v3-go-mod-{{ checksum "go.sum" }}
          paths:
            - /home/circleci/go/pkg/mod

  build_binaries:
    docker:
      - image: cimg/go:1.19
    steps:
      - checkout
      - go-build:
          os: linux
          arch: amd64
      - go-build:
          os: linux
          arch: arm64
      - go-build:
          os: darwin
          arch: amd64
      - go-build-convert:
          os: linux
          arch: amd64
      - go-build-convert:
          os: linux
          arch: arm64
      - go-build-convert:
          os: darwin
          arch: amd64
      - run:
          name: apt_get_update
          command: sudo apt-get -qq update
      - run:
          name: apt_get_install
          command: sudo apt-get install -y build-essential rpm ruby ruby-dev
      - run:
          name: gem_install
          command: sudo gem install fpm
      - run: mkdir -p ~/artifacts
      - run:
          name: build_deb_amd64
          command: ./build-pkg.sh -m amd64 -v "${CIRCLE_TAG:-${CIRCLE_SHA1:0:7}}" -t deb && mv *.deb ~/artifacts
      - run:
          name: build_deb_arm64
          command: ./build-pkg.sh -m arm64 -v "${CIRCLE_TAG:-${CIRCLE_SHA1:0:7}}" -t deb && mv *.deb ~/artifacts
      - run:
          name: build_rpm_amd64
          command: ./build-pkg.sh -m amd64 -v "${CIRCLE_TAG:-${CIRCLE_SHA1:0:7}}" -t rpm && mv *.rpm ~/artifacts
      - run:
          name: build_rpm_arm64
          command: ./build-pkg.sh -m arm64 -v "${CIRCLE_TAG:-${CIRCLE_SHA1:0:7}}" -t rpm && mv *.rpm ~/artifacts
      - run:
          name: copy_binaries
          command: cp $GOPATH/bin/refinery-* ~/artifacts && cp $GOPATH/bin/convert-* ~/artifacts
      - run: echo "finished builds" && find ~/artifacts -ls
      - persist_to_workspace:
          root: ~/
          paths:
            - artifacts
      - store_artifacts:
          path: ~/artifacts

  publish_github:
    docker:
      - image: cibuilds/github:0.13.0
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: "Publish Release on GitHub"
          command: |
            echo "about to publish to tag ${CIRCLE_TAG}"
            ls -l ~/artifacts/*
            ghr -draft -n ${CIRCLE_TAG} -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} ${CIRCLE_TAG} ~/artifacts

  publish_s3:
    executor: aws-cli/default
    steps:
      - attach_workspace:
          at: ~/
      - aws-cli/setup:
          role-arn: "arn:aws:iam::702835727665:role/circleci-public-repos"
          role-session-name: "refinery"
          aws-region: AWS_REGION
      - run:
          name: sync_s3_artifacts
          command: |
            version=${CIRCLE_TAG:1}
            if [[ -z "$version" ]] ; then version=${CIRCLE_SHA1:0:7}; fi
            aws s3 sync ~/artifacts s3://honeycomb-builds/honeycombio/refinery/$version/

  build_docker:
    docker:
      - image: cimg/go:1.19
    steps:
      - setup_googleko
      - checkout
      - setup_remote_docker
      - run:
          name: build docker images and publish locally
          command: ./build-docker.sh

  publish_docker_to_ecr:
    docker:
      - image: cimg/go:1.19
    steps:
      - setup_googleko
      - checkout
      - setup_remote_docker
      - aws-cli/setup:
          role-arn: "arn:aws:iam::702835727665:role/circleci-public-repos"
          role-session-name: "refinery"
          aws-region: AWS_REGION
      - run:
          name: publish docker image to aws ecr
          command: |
            set -x

            export TAG="$(test "${CIRCLE_BRANCH}" == "main" && echo "" || echo "branch-")${BUILD_ID}"
            export ECR_HOST=702835727665.dkr.ecr.us-east-1.amazonaws.com
            export KO_DOCKER_REPO=${ECR_HOST}

            aws ecr get-login-password --region us-east-1 \
              | docker login --username AWS --password-stdin "${ECR_HOST}"
            ./build-docker.sh

  publish_docker_to_dockerhub:
    docker:
      - image: cimg/go:1.19
    steps:
      - setup_googleko
      - checkout
      - setup_remote_docker
      - run:
          name: build docker images and publish to Docker Hub
          environment:
            KO_DOCKER_REPO: honeycombio
          command: |
            echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_USERNAME}" --password-stdin
            ./build-docker.sh

workflows:
  build:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
      - build_binaries:
          requires:
            - test
          filters:
            tags:
              only: /.*/
      - build_docker:
          requires:
            - test
          filters:
            tags:
              only: /.*/
      - publish_docker_to_ecr:
          context: Honeycomb Secrets for Public Repos
          requires:
            - build_binaries
            - build_docker
          filters:
            branches:
              only: main
      - publish_github:
          context: Honeycomb Secrets for Public Repos
          requires:
            - build_binaries
            - build_docker
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - publish_s3:
          context: Honeycomb Secrets for Public Repos
          requires:
            - build_binaries
            - build_docker
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - publish_docker_to_dockerhub:
          context: Honeycomb Secrets for Public Repos
          requires:
            - build_binaries
            - build_docker
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
