{{- $field := . -}}

### `{{ $field.Name }}`

{{ printf "%s %s" $field.Name $field.Summary | wordwrap }}

{{ if $field.Description -}}
{{ $field.Description | wordwrap }}

{{- end -}}
{{- println -}}
- {{ if $field.Reload }}E{{else}}Not e{{end}}ligible for live reload.
- Type: `{{ $field.Type }}`
{{- if $field.Default -}}
{{- println -}}
- Default: `{{ $field.Default }}`
{{- end -}}
{{- if $field.Example -}}
{{- println -}}
- Example: `{{ $field.Example }}`
{{- end -}}
{{- if eq $field.ValueType "choice" -}}
{{- println -}}
- Options: `{{- printf "%s" (join $field.Choices " ") -}}`
{{- end -}}
{{- println -}}