{{- $file := . -}}
## Refinery Config File

The Refinery `config` file is a YAML file.
The file is split into sections; each section is a group of related configuration options.
Each section has a name, and the name is used to refer to the section in other parts of the config file.

## Example

This is an example `config` file:

```yaml
General:
  ConfigurationVersion: 2
Network:
  ListenAddr: "0.0.0.0:8080"
  PeerListenAddr: "0.0.0.0:8081"
OTelMetrics:
  Enabled: true
  APIKey: SetThisToAHoneycombKey
```

The remainder of this page describes the sections within the file and the fields in each.

{{ range $file.Groups -}}
{{- template "docsite_group" . -}}
{{- end -}}
{{- println -}}

{{- define "docsite_group" -}}
{{- $group := . -}}

## {{ $group.Title }}

{{ printf "`%s` %s" $group.Name $group.Description | wrapForDocs }}
{{- println -}}
{{- println -}}
{{- println -}}
{{- range $group.Fields -}}
{{- if .LastVersion -}}
  {{- continue -}}
{{- end -}}
{{ template "docsite_field" . }}
{{- end -}}

{{- end -}}

{{- define "docsite_field" -}}
{{- $field := . -}}

### `{{ $field.Name }}`

{{ printf "`%s` %s" $field.Name $field.Summary }}

{{ $field.Description | wrapForDocs -}}
{{- println -}}
- {{ if $field.Reload }}E{{else}}Not e{{end}}ligible for live reload.
- Type: `{{ $field.Type }}`
{{- println -}}
{{- if $field.Default -}}
- Default: `{{ $field.Default }}`
{{- println -}}
{{- end -}}
{{- if $field.Example -}}
- Example: `{{ $field.Example }}`
{{- println -}}
{{- end -}}
{{- if eq $field.ValueType "choice" -}}
- Options: `{{- printf "%s" (join $field.Choices " ") -}}`
{{- println -}}
{{- end -}}
{{- if $field.Envvar -}}
- Environment variable: `{{ $field.Envvar }}`
{{- println -}}
{{- end -}}
{{- if $field.CommandLine -}}
- Command line switch: `--{{ $field.CommandLine }}`
{{- println -}}
{{- end -}}
{{- println -}}
{{- end -}}
