{{- $file := . -}}
# Honeycomb Refinery Configuration Documentation

This is the documentation for the configuration file for Honeycomb's Refinery.

{{ range $file.Groups -}}
{{- template "docgroup.tmpl" . -}}
{{- end -}}
{{- println -}}