{{- $group := . -}}
---
## {{ $group.Name }}: {{ $group.Title }}

{{ $group.Description | wordwrap }}
{{- println -}}
{{- println -}}

{{- range $group.Fields -}}
{{- if .LastVersion -}}
  {{- continue -}}
{{- end -}}
{{ template "docfield.tmpl" . }}
{{- end -}}

