{{- $file := . -}}
{{ "Honeycomb Refinery Configuration" | box }}
#
# created {{ "now" | meta }} from {{ ".Input" | meta }} using a template generated {{ now }}

# This file contains the configuration for the Honeycomb Refinery.
# More stuff will go here later.

{{ range $file.Groups -}}
{{ template "gengroup.tmpl" . }}
{{- end -}}
{{- println -}}
{{ box "Config values removed by the config converter" }}
{{ println "The following configuration options are obsolete and are not included in the new configuration:" | wci 2 }}
{{ range $file.Groups -}}
{{ template "genremoved.tmpl" . }}
{{- end -}}