{{- $file := . -}}
{{ "Honeycomb Refinery Configuration" | box }}
#
# created {{ "now" | meta }} from {{ ".Input" | meta }} using a template generated {{ now }}

# This file contains a configuration for the Honeycomb Refinery. It is in YAML
# format, organized into named groups, each of which contains a set of
# configuration values. Text preceded by two comment characters (##) is
# informational only. Text preceded by a single comment character (#) indicates
# a value that is commented out and not used; it should be uncommented to enable
# it.

{{ range $file.Groups -}}
{{ template "gengroup.tmpl" . }}
{{- end -}}
{{- println -}}
{{ box "Config values removed by the config converter" }}
{{ println "The following configuration options are obsolete and are not included in the new configuration:" | wci 2 }}
{{ range $file.Groups -}}
{{ template "genremoved.tmpl" . }}
{{- end -}}