{{- $field := . -}}
{{- $oldname := $field.Name -}}
{{- if $field.V1Name -}}
  {{- if $field.V1Group -}}
    {{- $oldname = (print $field.V1Group "." $field.V1Name) -}}
  {{- else -}}
    {{- $oldname = $field.V1Name -}}
  {{- end -}}
{{- end -}}
{{ println }}
{{- println $field.Name $field.Summary | wci 4 -}}
{{- println -}}
{{ $field.Description | wci 4 }}
{{- println -}}
{{- $specialExample := formatExample $field.Type $field.Default $field.Example -}}
{{- if $specialExample -}}
  {{- $specialExample | comment | indent 4 -}}
  {{- println -}}
{{- end -}}
{{- if $field.Default -}}
  {{- printf "default: %v" $field.Default | comment | indent 4 -}}
  {{- println -}}
{{- end -}}
{{ reload $field.Reload | indent 4 }}
{{- if eq $field.ValueType "nondefault" }}
{{ printf "nonDefaultOnly .Data \"%s\" \"%s\" %#v" $field.Name $oldname $field.Default | meta | indent 4 }}
{{- else if eq $field.ValueType "nonzero" }}
{{ printf "nonZero .Data \"%s\" \"%s\" %#v" $field.Name $oldname $field.Example | meta | indent 4 }}
{{- else if eq $field.ValueType "nonemptystring" }}
{{ printf "nonEmptyString .Data \"%s\" \"%s\" %#v" $field.Name $oldname $field.Example| meta | indent 4 }}
{{- else if eq $field.ValueType "secondstoduration" }}
{{ printf "secondsToDuration .Data \"%s\" \"%s\" %#v" $field.Name $oldname $field.Example| meta | indent 4 }}
{{- else if eq $field.ValueType "memorysize" }}
{{ printf "memorysize .Data \"%s\" \"%s\" %#v" $field.Name $oldname $field.Example| meta | indent 4 }}
{{- else if eq $field.ValueType "choice" }}
{{ printf "Options: %s" (join $field.Choices " ") | comment | indent 4 }}
{{ printf "choice .Data \"%s\" \"%s\" %s \"%s\"" $field.Name $oldname (genSlice $field.Choices) $field.Default | meta | indent 4 }}
{{- else if eq $field.ValueType "showexample" }}
{{ print "# " $field.Name ": " $field.Example | indent 4 }}
{{- else if eq $field.ValueType "assigndefault" }}
{{ print $field.Name ": " $field.Default | indent 4 }}
{{- else if eq $field.ValueType "map" }}
{{ printf "renderMap .Data \"%s\" \"%s\" \"%s\"" $field.Name $oldname $field.Example | meta | indent 4 }}
{{- else if eq $field.ValueType "stringarray" }}
{{ printf "renderStringarray .Data \"%s\" \"%s\" \"%s\"" $field.Name $oldname $field.Example | meta | indent 4 }}
{{- else if eq $field.ValueType "conditional" }}
{{ printf "conditional .Data \"%s\" \"%s\"" $field.Name $field.Extra | meta | indent 4 }}
{{- else }}
{{ printf "******** ERROR %#v has bad ValueType %v" $field.Name $field.ValueType }}
{{ end -}}
{{- println -}}