{{- $file := . -}}
$schema: https://json-schema.org/draft/2019-09/schema
$id: https://github.com/honeycombio/refinery/tools/convert/config.yamlschema
type: object
default: {}
title: Refinery Configuration Schema
required:
  - General
properties:
{{- range $file.Groups -}}
{{- template "schgroup.tmpl" . -}}
{{- end -}}
{{- println -}}
